.mainContainer {
  border: solid 1px black;
  border-radius: 1rem;
  margin: 1rem;
}

.mainContainer div {
  margin: 1.5rem;
}

/* Nav CSS */
nav {
  background: black;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  gap: 1rem;
  align-items: center;
  border: black 1rem solid;
}

nav a {
  text-decoration: none;
  color: white;
}

.navItem {
  color: white;
  font-size: 2rem;
  list-style: none;
}

.navUl {
  display: flex;
  gap: 1rem;
}

.nameTitle {
  font-size: 3rem;
}

footer {
  background: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color:white;
  text-decoration: none;
}

footer a {
  color: white;
  text-decoration: none;
}

.contactCards {
  bottom-border: solid black 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}