:root {
  --black: #141219;
  --white: #f1f5f4;
  --main: #eaebed;
  --trial: #4D4D4E;
  /* --trial: #a9afb5; */
  --brownRust: #a75a3e;
  --green: #276558;
  --mintGreen: #749b8c;
  --blue: #08425b;
  --red: #be2c39;
}

body {
  background: var(--trial);
}

.mainContainer {
  border: solid 1px var(--black);
  border-radius: 1rem;
  margin: 1rem;
  background: var(--main);
  min-height: 80vh;
}

.eachContainer {
  margin: 1.5rem;
  background: var(--main);
}

.mainPage {
  display: flex;
  flex: flex-wrap;
  justify-content: space-between;
  gap: 1rem;
}

.aboutMalia {
  width: auto;
  max-Width: 55%;
  padding: 1rem;
}

.aboutMalia p {
  font-size: 1.5rem;
}

/* Nav CSS */
nav {
  background: var(--black);
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  gap: 1rem;
  align-items: center;
  border: var(--black) 1rem solid;
}

nav a {
  text-decoration: none;
  color: var(--white);
}

.navItem {
  color: var(--white);
  background: var(--black);
  font-size: 2rem;
  list-style: none;
}

.navUl {
  display: flex;
  gap: 1rem;
}

.nameTitle {
  font-size: 3rem;
}

footer {
  background: var(--black);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color:white;
  text-decoration: none;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

.contactCards {
  display: flex;
  flex: flex-wrap;
  gap: 1rem;
  justify-content: left;
  align-items: center;
}

.portfolioCards {
  display: flex;
  flex: flex-wrap;
  justify-content: space-between;
  gap: 1rem;
}

img {
  wight: auto;
  height: auto;
  max-width: 95%;
  max-height:90vh;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
}